@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Member Index";
}

@model IEnumerable<Library_project.DataModel.Book_info>

    

<table class="table table-hover">
	<thead class="table-info">
		<tr>
			<th class="col-1">Serial</th>
			<th class="col-2">Book Name</th>
			<th class="col-2">Author</th>
			<th class="col-2">Book Description</th>
			<th class="col-2">Book Price</th>
			<th class="col-2">Action</th>
		</tr>
	</thead>

	<tbody>

		@{
			int serial = 1;
			foreach (var data in Model)
			{

				<tr>
					<td>@serial</td>
                    <td>@data.Book_Name</td>
                    <td>@data.Author</td>
					<td>@data.Book_Description</td>
					<td>@data.Book_Price</td>
					<td>
						<a class="btn btn-success" asp-action="BookEdit" asp-route-id="@data.Id">Edit</a>
						<a class="btn btn-danger" asp-action="bookDelete" asp-route-id="@data.Id">Delete</a>
					</td>
				</tr>
				serial++;
			}
		}

	</tbody>

</table>