@model IEnumerable<Library_project.DataModel.Member>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	ViewData["Title"] = "Member List";
}



<!-- Default box -->
<div class="box">

	<div class="box-body">


		<div class="container my-5">

			<table class="table table-hover my-5">
				<thead class="table-info">
					<tr>
						<th>Serial</th>
						<th>Name </th>
						<th>Email </th>
						<th>Phone</th>
						<th>Type</th>
						<th>Address</th>
						<th>IsActive</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>

					@{
						int serial = 1;
						foreach (var data in Model)
						{
							<tr id="row-@data.MemberId">
								<td>@serial</td>
								<td>@data.MemberName</td>
								<td>@data.MemberEmail</td>
								<td>@data.MemberPhone</td>
								<td>@data.MemberType</td>
								<td>@data.MemberAddress</td>
								<td>@data.IsActive</td>
								<td>
									<a class="btn btn-warning" asp-route-id="@data.MemberId" asp-action="MemberEdit" asp-controller="Membership">Edit</a>
									<a class="btn btn-danger" onclick="DataDelete(@data.MemberId)">Delete</a>
								</td>
								<td name="MemberId" id="MemberId" type="hidden"></td>
							</tr>

							serial++;
						}

					}


				</tbody>


			</table>


		</div>

	</div><!-- /.box-body -->

</div><!-- /.box -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
	<script>

			function DataDelete(id){

				
				if(confirm("Are you sure you want to delete this product?")){

					$.ajax({
						url: '/Membership/MemberDelete',
						type: 'POST',
						data: { id: id },
						success: function(response){
							if(response.success)
							{
								$("#row-" + id).remove();
							}
							else
							{
								alert("Error:"+response.message);
							}
							alert("Delete Successfully");
							
						},
						error: function(error){
							alert("Faild!");
						}
					});

				}
			}
		

	</script>
}
